#header {
    transition: background-color 0.1s ease;
}
.onTop {
    #header {
        background-color: transparent;
        .choose-cinema {
            color: #fff;
        }
    }
    #bottom-nav {
        display: none;
    }
    #header .choose-cinema {
        background-color: transparent;
    }
}
.dark {
    #choose-cinema-menu {
        .MuiOutlinedInput-notchedOutline {
            border-color: #cacaca !important;
        }
        .MuiSvgIcon-root {
            fill: #cacaca;
        }
        .MuiFormControl-root:hover {
            .MuiSvgIcon-root {
                fill: #fff;
            }
            .MuiOutlinedInput-notchedOutline {
                border-color: #fff !important;
            }
        }
    }
}
#movie-detail {
    .MuiBreadcrumbs-separator {
        margin: 0;
    }
}
#copyright .hiulogo__title {
    color: inherit !important;
}
:not(.dark).onTop {
    .hiulogo__title {
        color: #fff;
    }
    #menu__btn {
        color: #fff;
    }
    .hiu-cinema__logo {
        transition: background-color 0.5s ease;
        color: #fff;
        background-color: transparent;
        & > div {
            color: #e50914 !important;
        }
    }
    #appearance__btn {
        color: #fff !important;
    }
    .auth-btn .auth-btn__title {
        color: #fff;
    }
    .auth-btn {
        border-color: #fff !important;
    }
}
.blur-bg {
    background-color: transparent;
    background-image: linear-gradient(
        rgb(255 255 255 / 0%) 0px,
        rgb(255 255 255 / 15%) 36%,
        rgb(255 255 255 / 35%) 54%,
        rgb(255 255 255 / 58%) 70%,
        rgb(255 255 255) 86%,
        rgb(255 255 255)
    );
}
.dark .blur-bg {
    background-image: linear-gradient(
        180deg,
        hsla(0, 0%, 8%, 0) 0,
        hsla(0, 0%, 8%, 0.15) 15%,
        hsla(0, 0%, 8%, 0.35) 29%,
        hsla(0, 0%, 8%, 0.58) 44%,
        #141414 68%,
        #141414
    );
}
